<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <title>Distroller | Amixes</title>
  </head>
  <body onload="splashform(2500)">
    <div id="congratulations">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 offset-md-2 text-center">
            <img class="img-fluid" src="../assets/img/congratulationsa.png" alt="Congratulations">
          </div>
        </div>
        <div class="col-12 fixed-bottom">
          <div class="row">
            <div class="offset-md-1 col-md-10 text-center">
              <img class="img-fluid cngrtltns-image" src="../assets/img/congratulationsb.png" alt="Congratulations">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="dstrllr-loading">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 offset-md-4 text-center">
            <p class="ldng-txt mb-0">Analizando el nivel <span>de BUENAONDÍSMO en tu ser!!!</span></p>
            <img class="img-fluid load-gif-2" src="../assets/img/unnamed.gif" alt="Loading">
          </div>
        </div>
        <div class="col-12 fixed-bottom">
          <div class="row">
            <div class="col-12 col-md-3">
              <img class="img-fluid chmy-logo" src="../assets/img/chamoy-logo.png" alt="Loading">
            </div>
            <div class="col-12 col-md-6 text-center">
            </div>
            <div class="col-12 col-md-3">
              <img class="img-fluid dstrllr-logo" src="../assets/img/distroller-logo.png" alt="Loading">
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
  </body>
</html>
